{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
<div class="container-fluid my-4">
    <h1>Change Password</h1>
    <hr />
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Change</button>
    </form>
</div>
{% endblock content %}

{% block js %}
<script>
const old_password = document.getElementById("id_old_password")
const new_password1 = document.getElementById("id_new_password1")
const new_password2 = document.getElementById("id_new_password2")

const elements = [old_password, new_password1, new_password2]

function styleElements(elements) {
    elements.forEach((element) => {
        element.classList.add("form-control")
    })
}

styleElements(elements);
</script>
{% endblock js %}