{% extends 'base.html' %}

{% load static %}

{% block title %}
Replies
{% endblock title %}

{% block content %}
<div class="container-fluid my-4" id="main" data-comment="{{ comment.id }}">
	  <div class="card mb-3">
      <div class="card-body">
        <div class="profile-badge">
          {% if comment.user.profile_pic %}
          <p>
           <div class="profile_pic">
             <img src="{{ comment.user.profile_pic.url }}"
             style="height: 40px; width : 40px; border-radius: 50%;" 
             alt="" />
           </div>
            <a href="">{{ comment.user.username }}</a>
            <small class="text-muted">{{ comment.date }}</small>
          </p>
          {% else %}
          <p>
           <div style="width: 40px; 
           background-color: grey; color: white; height: 40px; 
           border-radius: 50%; text-align: center; justify-content: center; 
           align-items: center; display: flex;">
                {{ comment.user.username|slice:"1" }}
           </div>
           <a href="">{{ comment.user.username }}</a>
           <small class="text-muted">{{ comment.date }}</small>
          </p>
          {% endif %}
        </div>
        <p>{{ comment.content|safe }}</p>
        <div class="btn-group">
          <a href="{% url 'article-detail' post.slug %}" class="btn btn-outline-primary">Back to article</a>
          {% if user == comment.user %}
          <button class="btn btn-danger" id="comment-delete" data-id="{{ comment.id }}" data-post="{{ post.slug }}">Delete</button>
          {% endif %}
        </div>
      </div>
    </div>
    <h1>Replies (<span id="reply_count"data-count="{{ replies.count }}">{{ replies.count }}</span>)</h1>
    <hr />
    {% if user.is_authenticated %}
    <form id="form">
      {{ form.as_p }}
      {% csrf_token %}
      <button class="btn btn-primary">Reply</button>
    </form>
    {% endif %}
    <div class="container-fluid my-3" id="replies">
    	{% for comment in replies %}
	  <div class="card mb-3" id="reply-card-{{ comment.id }}">
      <div class="card-body">
        <div class="profile-badge">
          {% if comment.user.profile_pic %}
          <p>
           <div class="profile_pic">
             <img src="{{ comment.user.profile_pic.url }}"
             style="height: 40px; width : 40px; border-radius: 50%;" 
             alt="" />
           </div>
            <a href="">{{ comment.user.username }}</a>
            <small class="text-muted">{{ comment.date }}</small>
          </p>
          {% else %}
          <p>
           <div style="width: 40px; 
           background-color: grey; color: white; height: 40px; 
           border-radius: 50%; text-align: center; justify-content: center; 
           align-items: center; display: flex;">
                {{ comment.user.username|slice:"1" }}
           </div>
           <a href="">{{ comment.user.username }}</a>
           <small class="text-muted">{{ comment.date }}</small>
          </p>
          {% endif %}
        </div>
        <p>{{ comment.content|safe }}</p>
        <div class="btn-group">
          {% if user == comment.user %}
          <button class="btn btn-danger" id="reply-delete" data-id="{{ comment.id }}">Delete</button>
          {% endif %}
        </div>
      </div>
    </div>
    	{% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}

<script src="{% static '/js/replies.js' %}"></script>
{% endblock js %}