{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ obj.title }}
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
<div class="container-fluid my-4">
<div class="container">
    <h1>{{ obj.title }}</h1>
    {% if obj.description %}
    <p style="font-style: italic; size: 20px;">{{ obj.description }}</p>
    {% endif %}
    <img src="{{ obj.image_url.url }}" style="width: 80%;" />
    <p style="font-size: 20px;" class="my-3">By {{ obj.author.name }}</p>
</div>
<hr />
<div class="container">
    <p>{{ obj.content|safe }}</p>
</div>
<div class="container">
    {% if user.is_author or user.is_superuser %}
     {% if obj.author == user or user.is_superuser %}
    <a href="{% url 'article-update' obj.id %}" class="btn btn-secondary">Update</a>
     {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
    <div class="btn-group">
        <button class="btn btn-primary" id="like_btn" data-id="{{ obj.id }}">{{ obj.likes.count }} Likes</button>
    </div>

    {% endif %}
</div>
{% if obj.citations %}
<div class="container my-4">
    <h2>Bibiliography</h2>
    <hr />
    <p>{{ obj.citations|safe }}</p>
</div>
{% endif %}
<div class="container my-4">
    <h1>Comments (<span id="commentCount" data-count="{{ obj.comments.count }}">{{ obj.comments.count }}</span>)</h1>
    <hr />
    {% if user.is_authenticated %}
    <form id="form" class="my-3">
     {% csrf_token %}
     {{ form.as_p }}
     <button class="btn btn-primary">Comment</button>
    </form>
     {% endif %}
     <div id="comments">
      {% for comment in obj.comments.all %}
    
      <div class="card mb-3">
          <div class="card-body">
            <div class="profile-badge">
              {% if comment.user.profile_pic %}
              <p>
               <div class="profile_pic">
                 <img src="{{ comment.user.profile_pic.url }}"
                 style="height: 40px; width : 40px; border-radius: 50%;" 
                 alt="" />
               </div>
                <a href="">{{ comment.user.username }}</a>
                <small class="text-muted">{{ comment.date }}</small>
              </p>
              {% else %}
              <p>
               <div style="width: 40px; 
               background-color: grey; color: white; height: 40px; 
               border-radius: 50%; text-align: center; justify-content: center; 
               align-items: center; display: flex;">
                    {{ comment.user.username|slice:"1" }}
               </div>
               <a href="">{{ comment.user.username }}</a>
               <small class="text-muted">{{ comment.date }}</small>
              </p>
              {% endif %}
            </div>
            <p>{{ comment.content|safe }}</p>
            <div class="btn-group">
              <a href="" class="btn btn-outline-primary">View Comment/Replies</a>
            </div>
          </div>
        </div>
      {% endfor %}
     </div>
</div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static '/js/like.js' %}"></script>
<script src="/static/js/comments.js"></script>
{% endblock js %}