{% extends 'base.html' %}

{% block title %}
{{ obj.title }}
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
<div class="container-fluid my-4">
<div class="container">
    <h1>{{ obj.title }}</h1>
    {% if obj.description %}
    <p style="font-style: italic; size: 20px;">{{ obj.description }}</p>
    {% endif %}
    <img src="{{ obj.image_url.url }}" style="width: 80%;" />
    <p style="font-size: 20px;" class="my-3">By {{ obj.author.name }}</p>
</div>
<hr />
<div class="container">
    <p>{{ obj.content|safe }}</p>
</div>
<div class="container">
    {% if user.is_author or user.is_superuser %}
     {% if obj.author == user or user.is_superuser %}
    <a href="{% url 'article-update' obj.id %}" class="btn btn-secondary">Update</a>
     {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
    <div class="btn-group">
        <button class="btn btn-primary">{{ obj.likes.count }} Likes</button>
    </div>

    {% endif %}
</div>
{% if obj.citations %}
<div class="container my-4">
    <h2>Bibiliography</h2>
    <hr />
    <p>{{ obj.citations|safe }}</p>
</div>
{% endif %}
</div>
{% endblock content %}

{% block js %}

{% endblock js %}