{% extends 'base.html' %} 
{% block title %} 
Free Thought - All articles 
{% endblock title %} 

{% block css %}
<style>

  .card {
    margin-bottom: 2rem;
  }



</style>
{% endblock css %} 

{% block content %}
<div class="container-fluid my-4">
  <h1>All articles</h1>
  <hr />
  <div class="container">
    <div class="row">
    {% for i in qs %} 
      <div class="col-sm mb-3">
        <div class="card" style="width: 20rem">
          <img
            src="{{ i.image_url }}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <p>By {{ i.author.name }}</p>
            <a href="{% url 'article-detail' i.slug %}" class="btn btn-outline-primary"
              ><i class="fas fa-link"></i> View article</a
            >
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
  <div class="container my-4">
    {% if qs %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          
       
      
      {% if qs.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
      
          <li class="page-item"><a class="page-link" href="?page={{ qs.previous_page_number }}">Previous</a></li>
          
      {% endif %}
      
      {% for i in nums %}
          <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
      
      {% endfor %}
      
      
      {% if qs.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ qs.next_page_number }}">Next</a></li>
      
          <li class="page-item"><a class="page-link" href="?page={{ qs.paginator.num_pages }}">Last &raquo</a></li>
      
      {% endif %}
      
       </ul>
      </nav>
    {% endif %}
  </div>
{% endblock content %} {% block js %} {% endblock js %}
